@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Permanent+Marker&family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

.navBarContent {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    /* background-image: linear-gradient(to bottom right, rgb(231, 128, 10), orange, gold); */
    background-image: linear-gradient(to bottom right, rgb(160, 86, 3), rgb(74, 64, 216));
}

.navBarContent-links {
    position: sticky;
    z-index: 0;
    top:0px;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: extend-nav;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes extend-nav {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 100%;
    }
}

.navBarContent-links ul {
    height: 55px;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    background-image: linear-gradient(to right, rgb(218, 218, 218) 50%, rgb(192, 192, 192));
    box-shadow: 2px 3px 6px rgb(29, 29, 29);
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
}

.navBarContent-links ul li {
    list-style: none;  
    transform: translate(0px, 0px);
    transition: transform 100ms;
}

.navBarContent-links ul li:hover {
    transform: translate(7px, 5px);
}

.navBarContent-links a, .navBarContent-links a:not([href]) {
    padding: 10px;
    text-decoration: none;
    font-family: "Urbanist", arial, sans-serif;
    font-weight: bold;
    color: rgb(50, 2, 138);
    font-size: 1.1em;
    text-shadow: 2px 2px 5px rgb(61, 61, 61);
    letter-spacing: 1px;
    transition: text-shadow 200ms;
    cursor: crosshair;
}

.navBarContent-links a:hover, .navBarContent-links a:not([href]):hover {
    color: rgb(0, 173, 0);
    text-shadow: none;
}

#profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 12px double rgb(49, 31, 129);
    color: rgb(253, 253, 253);
    /* background-image: linear-gradient(to bottom right, rgb(230,140,20), rgb(55, 0, 119)); */
    background-image: linear-gradient(to bottom right, rgb(160, 86, 3), rgb(74, 64, 216));
    box-shadow: 2px 4px 10px rgb(14, 14, 14);
    animation: rotate-inner 2s infinite linear reverse;
}

@keyframes rotate-inner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#profile-image-container {
    position: absolute;
    z-index: 1;
    transform: translateY(0px);
    transition: transform 200ms;
    /* display: none; */
}

#profile-image-container:hover {
    transform: translateY(0px);
}

.myName {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translate(0, 10%);
    z-index: 1;
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    opacity:.7;
}

.background-shape {
    position: absolute;
    z-index: 0;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 10px double rgb(55, 0, 119);
    background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(25, 25, 25), rgb(2, 2, 2));
    animation: cd 2s infinite linear;
    /* display: none; */
}

@keyframes cd {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.background-animation {
    position: absolute;
    box-shadow: 2px 4px 4px rgb(112, 112, 112);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-background-banner {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-background {
    display: flex;
    padding-left: 3%;
    transform:translate3d(0, 200deg);
    
}

.bottom-background {
    display:flex;
    justify-content: flex-end;
    padding-right: 3%;
}

#top-left-word {
    /* display:none; */
    position: relative;
    font-size: 11rem;
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    color: rgb(27, 7, 36);
    text-shadow: 4px 8px 3px rgb(24, 24, 24);
    padding-right: 3%;
    /* animation: fadeTopLeft 12s infinite linear; */
}

@keyframes fadeTopLeft {
    0% {
        color: rgb(27, 7, 36);
    }
    50% {
        color: rgb(61, 4, 21);
    }
    100% {
        color: rgb(27, 7, 36);
    }
}

#bottom-right-word {
    /* display:none; */
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    font-size: 11rem;
    color: rgb(27, 7, 36);
    text-shadow: 4px 8px 3px rgb(24, 24, 24);
    padding-left: 3%;
    /* animation: fadeBottomRight 12s infinite linear; */
}

@keyframes fadeBottomRight {
    0% {
        color: rgb(27, 7, 36);
    }
    50% {
        color: rgb(61, 4, 21);
    }
    100% {
        color: rgb(27, 7, 36);
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
    color: rgb(216, 216, 216);
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
    padding-left: 12px;
}