@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Permanent+Marker&family=Urbanist:wght@100&display=swap');

.container-fluid {
    padding: 0px !important;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    height: 100% !important;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: extend-nav;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes extend-nav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.navbar-links ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar-links ul li {
    list-style: none;   
}

.navbar-links a {
    text-decoration: none;
    font-family: "Urbanist", arial, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    transition: letter-spacing 200ms;
}

.navbar-links a:hover {
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
}

#profile-image {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background-image:url("/src/assets/cnesmith_photo.jpg");
    background-size: cover;
}

#profile-image-container {
    position: absolute;
}

.full-name {
    display: flex;
    justify-content: center;
    font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
    font-size: 180%;
    color: black;
}
