* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links ul {
    display: flex;
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    padding: 1rem;
}

.navbar-links a:hover {
    background-color: rgb(200, 200, 240)
}



